.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.dialogWrap {
    text-align: center;
    margin-top: 10px;
    width: 260px;
}

.dialogsItems .dialog {
    display: flex;
    align-items: center;
}

.dialogsItems {
    padding: 10px;
    border-right: 1px solid #e7edf2;
}

.dialogsItems .active {
    color: #8224e3;
}

.dialog {
    border-radius: 5px;
    box-shadow: 15px 15px 20px rgba(58,46,68,.04);
    margin-top: 10px;
    padding: 10px;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: #626c72;
    border-bottom: 1px solid #e7edf2;
    padding: 10px;
}

.textareaMessage{
    border: none;
    resize: none;
    width: 500px;
    height: 26px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0 0 0 1px #dce1e6;
    transition: 0.4s;
    letter-spacing: 1px;
    padding: 10px;
    color: #626c72;;
    &:focus {
        outline: none;
        border: 1px solid #8224e3;
    }
}

.textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dialog img, .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px 0 5px 0;
}

.addButton {
    background: linear-gradient(135deg, #c395f1 0%, #8224e3 75%);
    color: white;
    width: 140px;
    height: 36px;
    border: 0 none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navName {
    text-decoration: none;
    margin-left: 10px;
    color: #4f515b;;
}

.title {
    color: #29292d;
    font-weight: 500;
}




.message {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #ddeaff;
}

.name {
    font-weight: bold;
    margin-bottom: 2px;
    color: #29292d;
    font-size: 14px;
}

.text {
    display: flex;
    justify-content: flex-start;
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    font-size: 16px;
}

.textWrap {
    margin: 10px 0 10px 15px;
    padding: 5px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px 10px 10px 0;;
    background: rgba(156, 81, 233, 0.05);
    color: #626c72;
    position: relative;
}

.textWrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 25px;
    height: 30px;
    background: radial-gradient(65px at top left, transparent 49%, #faf6fd 51%) no-repeat right bottom;
}

.formWrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.errorSpan {
    color: #BB0000;
    font-size: 14px;
    margin: 5px 0 0 5px;
}